@mc2:#d2ebfb;
@hc:#848484;
@m: 20px;
@m1:10px;
@m2: 40px;
@m3: 80px;
.b5{
  border-radius:5px;
}
.f2 {
  font-size: 2rem;
}
.f {
  font-size: 18px;
}
b{
  .thefontbold;
}
.hc {
  color: @hc;
  .trans4;
}
.white {
  color: #ffffff;
}
.w100 {
  width: 100%;
}
.positionA {
  position: absolute;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
.bold{
  font-weight: 600;
}
.allcenter {
  justify-content: center;
  align-items: center;
  display: flex;
}
.thefont {
  font-family: "formular.woff";
  text-transform: none;
}

.thefontbold {
  font-family: "formularBold.woff";
  font-size: 20px;
}
.trans4 {
  transition: 0.4s;
}